<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CourseClassMapper">

    <resultMap id="courseClassResultMap" type="CourseClass">
        <result column="course_teacher_id" property="courseTeacherId"/>
        <result column="class_id" property="classId"/>
    </resultMap>

</mapper>